@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Hanken Grotesk', sans-serif;

}
body{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.conterner{
	display: flex;
	width: 585px;
	border-radius: 20px;
	background-color: hsl(0, 23%, 97%) ;
}
/*LEFT STYLE*/
.left{
	padding: 20px 40px;
	background:linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	border-radius: 20px;
	color: white;
	
}

.reaction{
	display: flex;
}
.right-values{
	display: flex;
}
.left-titile{
	text-align: center;
	font-size: 16px;
	font-weight: lighter;
	color: hsl(223, 53%, 82%);
}
.score{
	background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
	width: 120px;
	height: 120px;
	border-radius: 60px;
	margin: 15px auto;
	text-align: center;
}
.presontage{
	font-size: 50px;
	font-weight: 900;
}
.great{
	text-align: center;
}
.description-text{
	font-size: 14px;
	max-width: 200px;
	min-width: 200px;
	text-align: center;
	margin: 10px auto;
	color:hsl(224, 36%, 78%);
}
.hundret-of{
	color:hsl(223, 53%, 82%);
}
/*right style*/

.right{
	width:300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-top: 15px;
	
}
.right-values{
	width: 250px;
	height: 35px;
	display: flex;
	align-items: center;
	border-radius: 8px;
	
}
.right-title{
	font-size: 18px;
	margin-right: 170px;
}
.LP{
	min-width: 100px;
	margin-left: 10px;
}
.value{
	margin-left: 40px;
}
img{
	margin-left: 5px;
}
.continue{
	width: 250px;
	height: 45px;
	border-radius: 23px;
	font-size: 18px;
	background-color:hsl(224, 30%, 27%) ;
	color: white;
	border: none;
	cursor: pointer;
}
.Reaction{
	color:hsl(0, 100%, 67%);
}
.Memory{
		color:hsl(39, 100%, 56%);
}
.Verbal{
	color:hsl(166, 100%, 37%);
}
.Visual{
	color:hsl(234, 85%, 45%)
}
.one{
	background-color:hsla(0, 100%, 67%, 0.1) ;
}
.two{
	background-color:hsla(39, 100%, 56%, 0.1) ;
}
.three{
	background-color:hsla(166, 100%, 37%, 0.1) ;
}
.fore{
	background-color:hsla(234, 85%, 45%, 0.1) ;
}
span{
	color:hsl(224, 36%, 78%);
}
@media screen and (max-width: 585px) {
	.conterner{
		display: block;
		width: 300px;
		padding-bottom: 20px;
	}
	.left{
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.description-text{
		min-width: 250px;
		padding-right: 15px;
	}
}
